@import url('https://fonts.googleapis.com/css?family=Verdana');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css for navbar */

body {
    margin: 0px;
    padding: 0px;
    background-color: #0A1828;
    font-family: Verdana;
    color: #efebe2;
}